<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="http://127.0.0.1:8023/static/image/img.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>邮件-附件下载</title>
    <link rel="stylesheet" href="/static/js/layui-v2.6.8/css/layui.css">
    <link rel="stylesheet" href="/static/css/config.css">
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item" style="margin-top: 20px;">
        <label class="layui-form-label">定时周期</label>
        <div class="layui-input-block">
            <input type="radio" name="cycle" value="1" title="仅本次" checked="">
            <input type="radio" name="cycle" value="2" title="重复">
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 20px;">
        <label class="layui-form-label" style="width: 100px;">邮箱登录账号</label>
        <div class="layui-input-block">
            <input style="width: 300px" type="text" name="account" lay-verify="email" autocomplete="off"
                   placeholder="请填写邮箱登录账号（必填）" class="layui-input">
        </div>
    </div>
</form>
<script src="/static/js/layui-v2.6.8/layui.js"></script>
<script type="text/javascript" src="/static/js/jquery-2.1.3.js"></script>
<script src="/static/js/config.js" charset="utf-8"></script>
</body>
</html>