<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="http://127.0.0.1:8023/static/image/img.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>邮件-附件下载</title>
    <link rel="stylesheet" href="/static/js/layui-v2.6.8/css/layui.css">
    <link rel="stylesheet" href="/static/css/config.css">
    <style>
        .child {
            display: inline-block;
            /*子元素文字会继承居中，因此要在上面写上向左边居中*/
            text-align: left;
            background-color: #FAFAFA;
            width: 1000px;
            height: 1450px;
            border-radius: 5px;
        }

        .parent {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .layui-form-radio:hover *, .layui-form-radioed, .layui-form-radioed > i {
            color: #FFB6C1 !important;
        }

        .layui-border {
            border-color: #FFB6C1 !important;
            color: #FFB6C1 !important;
        }

        .layui-laydate .layui-this {
            background-color: #1E9FFF !important;
            color: #fff !important;
        }

        .tips-night {
            background-image: linear-gradient(to right, #E8CCFF, #00FFFF);
            color: transparent;
            -webkit-background-clip: text;
            font-weight: bold;
        }

        .tips-day {
            background-image: linear-gradient(to right, #B088FF, #00BBFF);
           /* color: transparent;*/
            -webkit-background-clip: text;
            font-weight: bold;
        }

        .layui-form-checkbox[lay-skin=primary] span {
            padding-left: 0;
            padding-right: 15px;
            line-height: 18px;
            font-size: 5px;
            background: 0 0;
            color: #E0FFFF;
        }

        .layui-layer-title {
            padding: 0 80px 0 20px;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #F0F0F0;
            background-color: #393D49;
            font-size: 14px;
            color: #E6E6FA !important;
            overflow: hidden;
            border-radius: 2px 2px 0 0;
        }

        .layui-layer-setwin .layui-layer-close2 {
            position: absolute;
            right: -4px !important;
            top: -7px !important;
            width: 30px;
            height: 30px;
            margin-left: 0;
            background-position: -149px -31px;
            *right: -18px;
            _display: none;
        }
    </style>
</head>
<body>
<form class="layui-form" action="">
    <div class="parent">
        <div class="child">
            <div id="tips" class="" style="margin-top: 40px;margin-left: 50px;line-height: 27px;">
                <span>
                    <h3>怎样看程序是否跑完/附件是否下载完：</h3>
                        <p>   程序控制台（启动的那个黑板板）会提示文字：所有邮件下载完成，总耗时：xxx分钟；</p>
                        <p>   只要有上面这句话显示，即表示程序已经正常执行完毕，所有附件已经下载完成，并附带显示下载附件总共消耗的时间</p>
                        <p>   如果是显示“正在解析加载中”或是“已获取到邮件”或是一直在刷新程序控制台的信息，即表示程序正在解析下载附件中，请耐心等待</p>
                   <h3>附件下载中途遇到错误会怎样提示：</h3>
                        <p>   下载附件途中如遇到错误，服务会记录该错误信息并继续下载后面的附件，待所有附件下载完成后会在控制台末尾显示错误信息</p>
                        <p>   错误记录从以 “以下是下载附件时记录的报错信息-开始” 开始到以 “以上是下载附件时记录的报错信息-结束” 结束</p>
                        <p>   如果在控制台未显示该字样，表示附件下载中途没有错误信息</p>
                    <h3>附件全部下载完成需要多久：</h3>
                        <p>   下载时间由下载的邮件数量、附件内容的大小和网络而决定</p>
                        <p>   正常网络下，一个附件下载平均速度为0.5秒；经测试，下载8000个附件的时间大约是87分钟（数据仅供参考）</p>
                        <p>   建议 如果是第一次下载（需要下载的附件较多），使用数量方式下载会比较快</p>
                        <p>   建议 如果是增量下载（只需要下载的较少的附件），使用时间方式下载会比较快</p>
                </span>
            </div>
            <div class="layui-form-item" style="margin-top: 20px;margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">邮箱服务地址</label>
                <div class="layui-input-inline">
                    <input style="width: 300px" type="text" name="server" lay-verify="server" autocomplete="off"
                           placeholder="请填写邮箱服务器地址（必填）" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux" style="color:#C0C0C0 !important;margin-left: 120px;">
                    aliyun服务器地址：imap.qiye.aliyun.com:993或imap.mxhichina.com:993
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">邮箱登录账号</label>
                <div class="layui-input-block">
                    <input style="width: 300px" type="text" name="account" lay-verify="email" autocomplete="off"
                           placeholder="请填写邮箱登录账号（必填）" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">邮箱登录密码</label>
                <div class="layui-input-block">
                    <input style="width: 300px" type="password" name="password" lay-verify="password" autocomplete="off"
                           placeholder="请填写邮箱登录密码（必填）" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">附件下载目录</label>
                <div class="layui-input-inline">
                    <input style="width: 300px" type="text" name="url" autocomplete="off"
                           placeholder="请填写附件需要下载到哪个位置" class="layui-input">
                </div>
                <!--<div class="layui-form-mid layui-word-aux" style="color:#C0C0C0 !important;margin-left: 120px;padding: 5px 0!important;">
                    <button type="button" id="select" class="layui-btn layui-btn-sm layui-btn-primary">选择目录</button>
                </div>-->
                <div class="layui-form-mid layui-word-aux" style="color:#C0C0C0 !important;margin-left: 120px;"> 
                    如果填写的目录不存在，程序会自动创建该目标；如果未填写目录，下载的附件默认会存放在C:\mail_file_download中
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">下载邮件数量</label>
                <div class="layui-input-inline">
                    <input style="width: 300px" type="text" name="count" lay-verify="count" autocomplete="off"
                           placeholder="请填写下载邮件数量" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux" style="color:#C0C0C0 !important;margin-left: 120px;"> 
                    下载最新的邮件的数量；比如：10.表示下载最新的十封邮件，和下载邮件时间不能同时使用；建议下载附件较多时使用
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">下载邮件时间</label>
                <div class="layui-input-inline">
                    <input style="width: 300px" type="text" name="time" placeholder="请填写下载邮件时间范围"
                           lay-verify="time" class="layui-input" id="time" readonly>
                </div>
                <div class="layui-form-mid layui-word-aux" style="color: #C0C0C0 !important;margin-left: 120px;"> 
                    下载这个时间（>=这个时间）到当前时间的所有邮件附件，和下载邮件数量不能同时使用；建议下载附件较少时使用
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">目录划分级别</label>
                <div class="layui-input-block">
                    <input type="radio" name="classify" value="year" title="年份">
                    <input type="radio" name="classify" value="month" title="年份+月份" checked="">
                    <input type="radio" name="classify" value="day" title="年份+月份+日期">
                </div>
                <div style="color: #C0C0C0;margin-left: 130px;line-height: 27px;">
                    <p>
                        如果选择的是年份，那么邮件附件是按年份的目录存放；下载好后当我点开某一年的文件夹后里面就是这一年的所有附件</p>
                    <p>
                        如果选择的是年份+月份，那么邮件附件是按年份+月份的目录存放；下载好后点开某一年的文件夹，里面还具体细分了月</p>
                    <p>   份，点开具体月份后就是当月的所有附件</p>
                    <p>
                        如果选择的是年份+月份+日期，那么邮件附件是按年份+月份+天的目录存放；下载好后当我点开2023年文件夹后，里面细</p>
                    <p>   分了月份，点开具体月份后还细分了日期；点开具体日期就是当日的所有附件</p>
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">文件操作类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="type" value="cover" title="存在同名文件时覆盖">
                    <input type="radio" name="type" value="jump" title="存在同名文件时跳过" checked="">
                    <input type="radio" name="type" value="all_reserved"
                           title="存在同名文件时，保留旧文件并添加新的副本文件">
                </div>
                <div style="color: #C0C0C0;margin-left: 130px;line-height: 27px;">
                    <p>注意：</p>
                    <p>   如果是目录划分级别为年份，表示操作的是在一年内的同名文件</p>
                    <p>   如果是目录划分级别为年份+月份，表示操作的是在一年下的同一个月内的同名文件</p>
                    <p>   如果是目录划分级别为年份+月份+日期，表示操作的是在一年下的同一个月的同一天内的同名文件</p>
                    <p>举个栗子，比如：</p>
                    <p>   选择的是覆盖，在遇到同名文件夹时，旧的文件会被新的文件替换</p>
                    <p>   选择的是跳过，遇到同名文件时会跳过该文件，继续执行下一文件直到结束</p>
                    <p>   选择的是保留，遇到同名文件时，新旧文件都会被保留，但是新文件会以”-副本+时间戳“结尾</p>
                </div>
            </div>
            <div class="layui-form-item" style="margin-left: 20px;">
                <label class="layui-form-label" style="width: 100px;">是否需要通知</label>
                <div class="layui-input-block">
                    <input lay-filter="inform" type="radio" name="inform" value="on" title="下载结果通知我">
                    <input lay-filter="inform" type="radio" name="inform" value="off" title="下载结果无需通知我" checked="">
                </div>
                <div style="color: #C0C0C0;margin-left: 130px;line-height: 27px;">
                    <p>下载结果（完成或是失败）使用邮件方式通知，若选择需要通知，系统会在附件下载程序执行完成后邮件消息内通知你</p>
                    <p id="inform-p1" style="display: none;">你可以在下面的输入框中填写你的个人邮箱账号，填写后系统就会按照这个邮箱来通知你</p>
                    <p id="inform-p2" style="display: none;">如果你不想填写，系统会默认使用你上面登录的邮箱来通知</p>
                </div>
            </div>
            <div class="layui-form-item" id="inform-input" style="margin-left: 20px;display: none;">
                <label class="layui-form-label" style="width: 100px;">通知邮箱账号</label>
                <div class="layui-input-block">
                    <input style="width: 300px" type="text" name="inform_account" autocomplete="off"
                           placeholder="请填写通知邮箱账号（选填）" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 150px;width: 700px;">
                    <button type="submit" class="layui-btn layui-btn-primary layui-border layui-btn-fluid"
                            lay-submit="" lay-filter="submit">开始下载附件<i
                            class="layui-icon layui-icon-download-circle"></i></button>
                    <!--<button type="reset" class="layui-btn layui-btn-primary layui-border-black">重置<i class="layui-icon layui-icon-fonts-clear"></i></button>-->
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/static/js/layui-v2.6.8/layui.js"></script>
<script type="text/javascript" src="/static/js/jquery-2.1.3.js"></script>
<script src="/static/js/config.js" charset="utf-8"></script>
<script>
    layui.use(['layer', 'laydate'], function () {
        let form = layui.form;
        let layer = layui.layer;
        let laydate = layui.laydate;
        let date = new Date();
        let times = 11
        let read = false
        if (date.getHours() >= 18 || date.getHours() <= 6) {
            $("body").css("background-color", "#111")
            $(".child").css("background-color", "#222").css("color", "#f2f2f2")
            $("input").css("background-color", "#333")
            $("input").css("border", "none")
            $("input").css("color", "#f2f2f2")
            $("#tips").removeClass("tips-day")
            $("#tips").addClass("tips-night")
            form.render();
        } else {
            $("#tips").removeClass("tips-night")
            $("#tips").addClass("tips-day")
        }

        let interval = setInterval(function () {
            if (times > 0) {
                times--;
                $("#tip-time").text(times)
            } else {
                $("#tip-last-time").text("")
                clearInterval(interval);
            }
        }, 1000);

        let item = localStorage.getItem("mail-download-read");
        if (item == "" || item == null || item == undefined) {
            let open = layer.open({
                type: 1,
                title: '<h2>使用前请先仔细阅读以下介绍</h2>',
                //closeBtn: false,
                area: ['30%', '80%'],
                shade: 0.8,
                id: 'LAY_layuipro', //设定一个id，防止重复弹出
                //btn: ['好的'],
                btnAlign: 'c',
                moveType: 1, //拖拽模式，0或者1
                content: '<div style="padding: 50px; background-color: #393D49; color: #E6E6FA;line-height: 25px;">' +
                    /*'<h2>使用前请先仔细阅读以下介绍</h2><br>' +*/
                    '<p><span style="font-weight: bold;color:#FFDAB9;">1.怎样看程序是否跑完/附件是否下载完</span></p>' +
                    '<p>- 程序控制台（启动的那个黑板板）会提示文字：所有邮件下载完成，总耗时：xxx分钟；</p>' +
                    '<p>- 只要有上面这句话显示，即表示程序已经正常执行完毕，所有附件已经下载完成，并附带显示下载附件总共消耗的时间</p>' +
                    '<p>- 如果是显示“正在解析加载中”或是“已获取到邮件”或是一直在刷新程序控制台的信息，即表示程序正在解析下载附件中，请耐心等待</p>' +
                    '<p><span style="font-weight: bold;color:#FFDAB9;">2.附件下载中途遇到错误会怎样提示</span></p>' +
                    '<p>- 下载附件途中如遇到错误，服务会记录该错误信息并继续下载后面的附件，待所有附件下载完成后会在控制台末尾显示错误信息</p>' +
                    '<p>- 错误记录从以 “以下是下载附件时记录的报错信息-开始” 开始到以 “以是上下载附件时记录的报错信息-结束” 结束</p>' +
                    '<p>- 如果在控制台未显示该字样，表示附件下载中途没有错误信息</p>' +
                    '<p><span style="font-weight: bold;color:#FFDAB9;">3.附件全部下载完成需要多久</span></p>' +
                    '<p>- 下载时间由下载的邮件数量、附件内容的大小和网络而决定</p>' +
                    '<p>- 正常网络下，一个附件下载平均速度为0.5秒；经测试，下载8000个附件的时间大约是87分钟（数据仅供参考）</p>' +
                    '<p>- 建议 如果是第一次下载（需要下载的附件较多），使用数量方式下载会比较快</p>' +
                    '<p>- 建议 如果是增量下载（只需要下载的较少的附件），使用时间方式下载会比较快</p>' +
                    '<span style="font-weight: bold;color:#FFDAB9;">4.邮箱服务器地址为必填项，常见邮箱类型服务地址请参考</span>（其它未提供的非常见邮箱地址请自行搜索查询）<br>' +
                    '      <a style="color: #00BBFF" href="https://www.youqiyi.net/article260/detail276.html" target="_blank">https://www.youqiyi.net/article260/detail276.html</a><br>' +
                    '<br>' +
                    '以上为常见且重要的信息提示，更多其它的提示信息请仔细阅读下载页的内容<br>' +
                    '<form class="layui-form">' +
                    '<input type="checkbox" name="read" value="1" lay-skin="primary" lay-filter="read" title="我已仔细阅读并知晓以上重要提示，且下次不再提醒我">' +
                    '<span id="tip-last-time" style="font-size: 5px;">浏览剩余时间：<span id="tip-time">40</span>秒</span>' +
                    '</form>' +
                    '</div>',
                cancel: function () {
                    if (times > 0) {
                        layer.msg('<span style="color: #90EE90;">以上重要信息提示还需要' + times + '秒的阅读时间，请仔细阅读以上提示</span>', {
                            time: 3000
                        });
                        return false
                    } else {
                        if (!read) {
                            layer.msg('<span style="color: #90EE90;">请勾选“我已仔细阅读并知晓以上重要提示”！</span>', {
                                time: 3000
                            });
                            return false
                        } else {
                            localStorage.setItem("mail-download-read", "true");
                        }
                    }
                }
            });
        }

        form.on('checkbox(read)', function (data) {
            read = data.elem.checked
        });

        form.on('radio(inform)', function (data) {
            let value = data.value;
            if (value == "on") {
                $("#inform-p1").css("display", "")
                $("#inform-p2").css("display", "")
                $("#inform-input").css("display", "")
                $(".child").css("height", "1550px")
            } else {
                $("#inform-p1").css("display", "none")
                $("#inform-p2").css("display", "none")
                $("#inform-input").css("display", "none")
                $(".child").css("height", "1450px")
            }
        });

        laydate.render({
            elem: '#time',
            type: 'datetime'
        });

        form.verify({
            server: function (value) {
                if (value.length == 0) {
                    return '邮箱服务地址不能是空的噢';
                }
            },
            account: function (value) {
                if (value.length == 0) {
                    return '邮箱登录账号不能是空的噢';
                }
            },
            password: function (value) {
                if (value.length == 0) {
                    return '邮箱登录密码不能是空的噢';
                }
            },
            count: function (value) {
                if (value.length > 0) {
                    let reg = /^[0-9]*$/
                    if (!reg.test(value)) {
                        return '下载邮件的数量只能填写数字';
                    }
                }
            },
            content: function (value) {
                layedit.sync(editIndex);
            }
        });

        form.on('submit(submit)', function (data) {
            let result = sendApi("/mail/download", JSON.stringify(data.field), "GET");
            if (result.ret != 0) {
                layer.msg(result.msg, {icon: 5, anim: 6});
            } else {
                //配置一个透明的询问框
                layer.msg('操作成功！附件正在下载中，过程可能会消耗较长时间，<br>建议可以关闭此页面，继续你的其他工作！不会影响附件的下载', {
                    time: 0,
                    btn: ['知道了'],
                    btn2: function () {
                        layer.close()
                    }
                });
            }
            return false;
        });
        form.render();

        $("#select").click(function(){
            let result = sendApi("/system/list", '{"path":""}', "GET");
            layer.open({
                type: 2,
                area: ['300px', '400px'],
                content: '/catalogue'
            });
        });
    });
</script>
</body>
</html>